<div class="spinner-wrapper" *ngIf="showSpinner">
  <app-loading-spinner></app-loading-spinner>
</div>

<app-navbar></app-navbar>

<br>

<div *ngIf="task" class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>File Upload: {{task.displayName}}</h3>

      <hr>
      <div class="uploadSubtitle">Task Description:</div>
      <div>{{task.description}}</div>
      <hr>

      <!-- File details -->
      <div class="uploadSubtitle">Details:</div>
      <div class="row">
        <div class="col-md-4 ">
          <div class="card box-shadow fadeIn">
            <div class="card-header">
              Deadline:
            </div>
            <div class="card-body uploadCardText">
              {{ task.dueDateTime | date:'HH:mm dd/MM/yyyy'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card box-shadow fadeIn">
            <div class="card-header">
              Marks available:
            </div>
            <div class="card-body uploadCardText">
              N/A
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card box-shadow fadeIn">
            <div class="card-header">
              Type:
            </div>
            <div *ngIf="task.uploadInfo" class="card-body uploadCardText">
              {{ task.uploadInfo.uploadType}}
            </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Description -->
      <form [formGroup]="uploadForm" (ngSubmit)="onFileUpload()" class="fadeIn">
        <div class="form-group">
          <label for="comments">Comments:</label>
          <textarea
            formControlName="comments"
            id="comments"
            class="form-control"
            rows="3">
          </textarea>
        </div>

        <hr>
        <!-- Pdf previewer -->
        <div class="preview">
          <div class="uploadSubtitle">Preview: </div>
          <div class="text-center text-muted" *ngIf="!fileData"> Select file to see preview... </div>
          <div class="text-center text-muted" *ngIf="fileData && previewType !== 'application/pdf'"> Preview only available for pdf files </div>
          <app-pdf-viewer *ngIf="fileData && previewType === 'application/pdf'" [height]="500" [sourceData]="fileData"></app-pdf-viewer>
        </div>

        <hr>

        <!-- FILE POND (Add file section) -->
        <div class="uploadSubtitle">Add Files: </div>
        <file-pond #fileInputPond
                   [options]="pondOptions"
                   [files]="pondFiles"
                   (oninit)="pondHandleInit()"
                   (onremovefile)="onFileRemove()"
                   (onpreparefile)="pondHandleAddFile($event)"
                   class="clickable">
        </file-pond>
        <!-- upload button -->
        <button type="submit" [disabled]="!uploadForm.valid" class="btn btn-primary">Upload</button>

      </form>
    </div>
  </div>
  <br>
</div>


