<div class="card box-shadow fadeIn">
  <div class="card-header">
    <h3> My Students </h3>
  </div>
  <app-loading-spinner *ngIf="!user"></app-loading-spinner>
  <div class="card-body" *ngIf="user">
    <div class="dashboardListTitle">Supervising</div>
    <div *ngIf="studentsSupervising.length === 0" class="text-muted text-center noStudents">You aren't currently supervising any students.</div>
    <ul class="list-group-flush indentedList">
      <a *ngFor="let student of studentsSupervising"
         class="list-group-item list-group-item-action text-primary" [routerLink]="['/student', student.universityId]">
        {{student.name}}
        <span class="badge badge-pill badge-primary">1</span>
      </a>
    </ul>
    <div class="dashboardListTitle">Moderating</div>
    <div class="text-muted text-center noStudents">You aren't currently moderating any students.</div>
  </div>
</div>
