<div class="card box-shadow fadeIn">
  <div class="card-header">
    <h3>{{'dashboardMyTasks.heading' | translate}}</h3>
  </div>
  <p><ngb-progressbar type="success" [value]="percentageCompleted" style="border-radius: 0"></ngb-progressbar></p>
  <app-loading-spinner *ngIf="!user"></app-loading-spinner>
  <div class="card-body" *ngIf="user">
    <ul class="list-unstyled">
        <li *ngFor="let task of tasks; let i = index;">
          <hr *ngIf="i !== 0"/>
          <a *ngIf="!isTaskCompleted(task.taskId)" [routerLink]="['/tasks', task.type, user.universityId, task.taskId, task.name]">{{task.displayName}}</a>
          <a *ngIf="isTaskCompleted(task.taskId) && task.type === 'upload'" [routerLink]="['/tasks', 'submitted', user.universityId, task.taskId, task.name]" class="text-muted">{{task.displayName}}</a>
          <a *ngIf="isTaskCompleted(task.taskId) && task.type === 'meeting'" [routerLink]="['/student', user.universityId]" [queryParams]="{active: 'Meetings'}" class="text-muted">{{task.displayName}}</a>
          <span *ngIf="isTaskCompleted(task.taskId)" class="material-icons text-success font-weight-bold">done</span>
        </li>
    </ul>
  </div>
</div>
