<div class="card box-shadow fadeIn">
  <div class="card-header">
    <h3> My Tasks </h3>
  </div>
  <p><ngb-progressbar type="success" [value]="percentageCompleted" style="border-radius: 0"></ngb-progressbar></p>
  <div class="card-body">
    <ul class="list-unstyled">
        <li *ngFor="let task of tasks; let i = index;">
          <hr *ngIf="i !== 0"/>
          <a href="#" [ngClass]="{'text-muted': task.isCompleted}">{{task.name}}</a>
          <span *ngIf="task.isCompleted" class="material-icons text-success font-weight-bold">done</span>
        </li>
    </ul>
  </div>
</div>
