<app-navbar></app-navbar>
<br>
<div class="container">
  <h1 class="studentsHeading">
    <span class="material-icons feedbackIcon">assignment_turned_in</span> {{'feedback.heading' | translate}}
  </h1>
  <mat-card class="feedbackCard">
    <div *ngIf="taskFeedback.length === 0" class="row">
      <div class="col-md-12">
        <div class="noFeedback">{{'feedback.noFeedback' | translate}}</div>
      </div>
    </div>
    <div *ngIf="taskFeedback.length > 0" class="row">
      <div class="col-md-4">
        <ul class="list-group-flush">
          <button *ngFor="let feedback of taskFeedback"
              [ngClass]="{'active': feedback === activeTaskFeedback}"
              (click)="activeTaskFeedback = feedback"
              class="list-group-item list-group-item-action">
            {{feedback.task.displayName}}
          </button>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="feedbackCardHeading">{{activeTaskFeedback.task.displayName}}</div>
        <hr>
        <div>
          <div class="feedbackCardSubheading">{{'feedback.mark' |translate}}</div>
          <div class="markWrapper"><span class="markValue">{{activeTaskFeedback.feedback.mark}}</span>/{{activeTaskFeedback.task.uploadInfo.marksAvailable}}</div>
        </div>
        <hr>
        <div class="feedbackCardSubheading">{{'feedback.comments' | translate}}</div>
        <div class="comments">"{{activeTaskFeedback.feedback.comments}}"</div>
        <hr>
      </div>
    </div>
  </mat-card>
</div>
<br>
