.navbar {
  padding: 1.5rem 0.5rem;
}
.navbarCardiff {
  background-color: #2c354c;
}
.navbarLogo {
  max-width: 5rem;
  margin-right: 10px;
}
.btn-link {
  color: white;
  font-weight: lighter;
}
.btn-link:hover{
  color: white;
}
.navbarText {
  font-family: tee_frank_thin, "Helvetica Neue", sans-serif;
  margin-left: 1rem;
  font-size: 42px;
  font-weight: lighter;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .navbarLogo{
    margin: 0 auto;
  }
}
