.buttonContainer {
  text-align: right;
}
.full-width {
  width: 100%;
}
.smallerIcons {
  font-size: medium;
}

mat-card-content {
  padding: 10px;
}
mat-form-field {
  margin: 10px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
