<div class="card box-shadow fadeIn">
  <div class="card-header">
    <h3>{{'dashboardProfile.heading' | translate}}</h3>
  </div>
  <div class="card-body">
    <app-loading-spinner *ngIf="!user"></app-loading-spinner>
    <div class="row">
      <div class="col-md-4 avatar">
        <img *ngIf="user && isImageLoaded"
             [src]="photoUrl"
             (error)="setDefaultAvatar()"
             alt="user icon"
             class="rounded-circle dashboardAvatar">
        <span *ngIf="user && !isImageLoaded" class="material-icons placeholderPhoto">account_circle</span>
      </div>
      <div *ngIf="user" class="col-md-8">
        <div *ngIf="user.name" class="dashboardProfileHeading">{{ user.name }}</div>
        <div *ngIf="user.jobTitle" class="text-muted">{{ user.jobTitle }}</div>
        <div class="text-muted">
          <span *ngIf="user.universityId">{{ user.universityId }}</span><span *ngIf="user.studentData.placementProvider"> - {{user.studentData.placementProvider}}</span>
        </div>
        <br/>
        <div *ngIf="user.studentData.supervisorName">
          {{'dashboardProfile.supervisor' | translate}}<button class="btn btn-link" (click)="openModal()">{{user.studentData.supervisorName}}</button>
        </div>
        <div *ngIf="user.studentData.workplaceSupervisor">
          {{'dashboardProfile.workplaceSupervisor' | translate: {workplaceSupervisor: user.studentData.workplaceSupervisor} }}
        </div>
        <div *ngIf="user.studentData.startDate">
          {{'dashboardProfile.startDate' | translate}}{{user.studentData.startDate | date: "dd/MM/yy"}}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div>
<!--      <a href="#">Update profile information</a>-->
    </div>
  </div>
</div>
