<div class="card box-shadow">
  <div class="card-header">
    <h3>Profile</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 avatar">
        <img [src]="profilePhoto" alt="user icon" class="rounded-circle dashboardAvatar">
      </div>
      <div class="col-md-8">
        <div *ngIf="msUser && msUser.displayName" class="dashboardProfileHeading">{{ msUser.displayName }}</div>
        <div *ngIf="msUser && msUser.jobTitle" class="text-muted">{{ msUser.jobTitle }}</div>
        <div class="text-muted">{{ user.id }} - {{ user.placementEmployer }}</div>
        <br/>
        <div>
          Supervisor: <a href="#">{{user.supervisor.name}}</a>
        </div>
        <div>
          Work Supervisor: {{user.workSupervisor}}
        </div>
        <div>
          Start Date: {{user.startDate}}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div>
      <a href="#">Update profile information</a>
    </div>
  </div>
</div>
