
.contact {
  padding-bottom: 10px;
}

.close:focus {
  outline: none;
}
.modal-footer {
  border-top: none;
}
.modalSubtitle {
  padding: 10px;
}
.modalProfilePhoto {
  max-width: 100%;
}
.modal-title {
  text-align: center;
  font-size: 1.25rem;

}


.dashboardAvatar {
  width: 100%;
}
.profileName {
  font-size: 20px;
  color: #d4374a;
}
.placeholderPhoto{
  font-size: 10rem;
}
