<app-navbar></app-navbar>

<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger topError" [innerHTML]="errorMessage | translate"> </div>

  <div class="row">
    <div class="col-md-6">
      <br/>
      <app-dashboard-profile [user]="userData"></app-dashboard-profile>
      <br/>
      <app-dashboard-tools [user]="userData"></app-dashboard-tools>
    </div>
    <div class="col-md-6">
      <br/>
      <app-dashboard-my-tasks [user]="userData"></app-dashboard-my-tasks>
    </div>
  </div>
  <br>
</div>
