<div class="card fadeIn">
  <div class="card-header">
    <h3>Tools</h3>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li *ngIf="user?.accessLevel?.isAdmin">
        <a routerLink="/admin/view-students">View Students</a>
        <hr>
      </li>
      <li *ngIf="user?.accessLevel?.isAdmin">
        <a routerLink="/admin/view-tasks">Manage Tasks</a>
        <hr>
      </li>
      <li *ngIf="user?.userType === 'student'">
        <a routerLink="/feedback">My Feedback</a>
        <hr>
      </li>
      <li *ngIf="user?.userType === 'student'">
        <a [routerLink]="['/student', user.universityId]">View Profile</a>
      </li>

    </ul>
  </div>
</div>
